USE [master]
GO
/****** Object:  Database [oopHome]    Script Date: 1/12/2024 2:09:46 PM ******/
CREATE DATABASE [oopHome]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oopHome', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oopHome.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oopHome_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oopHome_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oopHome].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oopHome]
GO
/****** Object:  Table [dbo].[Attack]    Script Date: 1/12/2024 2:09:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attack](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Coordinate] [nvarchar](50) NOT NULL,
	[Hit] [bit] NOT NULL,
	[GameFK] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 1/12/2024 2:09:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[CreatorFK] [nvarchar](50) NOT NULL,
	[OpponentFK] [nvarchar](50) NOT NULL,
	[Complete] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameShipConfiguration]    Script Date: 1/12/2024 2:09:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameShipConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerFK] [nvarchar](50) NOT NULL,
	[GameFK] [int] NOT NULL,
	[Coordinate] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 1/12/2024 2:09:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](100) NOT NULL,
	[Password] [nchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ships]    Script Date: 1/12/2024 2:09:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ships](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Size] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
